<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to my project Spring Security</h1>

<hr>
<input type="button" value="Please login" onclick="window.location.href = 'login'">
<!--<a href="/login">Please login</a>-->
<!--добавить исчезающие поля логаут, все пользователи для админа, страница пользователя для пользователя-->
<br><br>
<input type="button" value="Logout" onclick="window.location.href = 'logout'">
<!--<a href="/logout">Logout</a>-->
</body>
</html>